<div ui-content-for="title">
  <span>Confirmation</span>
</div>

<section class="section container-fluid">
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      Your order has been placed and is on its way!
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="well" style="text-align:center;font-weight:bold">
        Your food arrives in:
        <div id="time-left">{{ selectedFood.eta}}:00</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 style="text-align:center">Order Info:</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tbody>
          <tr>
            <td>{{ selectedFood.name }}</td>
            <td>${{ selectedFood.price }}.00</td>
          </tr>
          <tr style="display:none">
            <td>Diet Coke</td>
            <td>$3.00</td>
          </tr>
          <tr>
            <td>Tax (10%)</td>
            <td>${{ (selectedFood.price * 0.1).toFixed(2) }}</td>
          </tr>
          <tr class="active">
            <td><strong>TOTAL</strong></td>
            <td><strong>$14.30</strong></td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  console.log('heelo')
</script>