<div class="modal modal-overlay" ui-if='filter' ui-state='filter'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="filter">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, amet harum reiciendis enim adipisci magni fugit suscipit eaque corporis? Saepe eius ipsum optio dolorum a qui adipisci, reprehenderit totam temporibus!</p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="filter" class="btn btn-default">Close</button>
        <button ui-turn-off="filter" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

