<section class="section container-fluid">
  <div class="row-fluid">
  	<h3>Cuisine</h3>
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
        	<div class="cover-item" ng-repeat="style in styles" style="background-image: url('{{style.url}}'); border: {{style.select}}" ng-click="toggle($index)"><p>{{style.name}}</p></div>	
    	</div>	
	</div> 

	<br>
	<h3>Calories &le; {{calories}}</h3>
	<input type="range" min="0" max="1000" ng-bind="calories" ng-model="calories" id="fader">

  <input class="checkbox" type="checkbox" ng-model="vegetarian"> Vegetarian </input>
  <input class="checkbox" type="checkbox" ng-model="gluten_free"> Gluten-free </input>

</section>