<section class="section container-fluid full-height">
  <div class="row-fluid">
  	<h3>Cuisine</h3>
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
        	<div class="cover-item" ng-repeat="style in styles" style="background-image: url('{{style.url}}')" ng-class="{'selected' : style.selected}" ng-click="toggle(style)"><p>{{style.name}}</p></div>	
    	</div>	
	</div> 

	<br>
	<h3>Calories &le; {{filter.calories}}</h3>
	<input type="range" min="0" max="1000" ng-model="filter.calories">

<!--  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="filter.vegetarian"> Vegetarian
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="filter.glutenFree"> Gluten-free
    </label>
  </div> -->

  <div class="row">
    <br>
    <a ng-click="changeResults('all')"> <button class="col-xs-6 col-xs-offset-3 btn btn-primary">Find food!</button></a>
  </div>

</section>