<h1 class="app-name">NomWell</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">NomWell</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarRight'>
      <a class="list-group-item" href="#/">Home</a>
      <a class="list-group-item" href="#/account">Account</a>
      <a class="list-group-item" href="#/favorites">Favorites</a>
      <a class="list-group-item" href="#/past">Past Orders</a>
      <a class="list-group-item" href="#/logout">Logout</a>
    </div>
  </div>
</div>